/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #2c2f33;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border-top: 6px #7289da solid !important;
  font-size: 16px;
}

.banner {
  background-color: #7289da;
}

.page_end {
  background-image: url("./assets/down-blurple.svg") !important;
  background-position: bottom !important;
  background-size: 200% !important;
  background-repeat: no-repeat !important;
}

.nav-link {
  font-size: 14px !important;
  background: transparent !important;
  font-family: Lato, sans-serif !important;
  text-transform: capitalize !important;
}
.nav-link:hover {
  background: transparent !important;
  color: #7289da !important;
  font-weight: bold !important;
}

.login-btn {
  border: 2px solid #7289da !important;
  font-size: 10px !important;
}
.login-btn:hover {
  background: #454f80 !important;
}
.navbar {
  box-shadow: none !important;
}

.navbar-brand {
  font-size: 25px !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.btn {
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  filter: drop-shadow(0 0 0.75rem #7289da);
}

.btn-primary {
  background-color: #7289da !important;
}
.btn-secondary {
  background-color: #7289da !important;
}

.title {
  line-height: 90px !important;
  margin-bottom: -2px !important;
  font-size: 36px !important;
}

.subtitle {
  color: rgb(255, 255, 255) !important;
  font-size: 16px !important;
  font-family: "Lato", sans-serif;
}

.features .title {
  font-size: 40px !important;
  color: #ffffff !important;
  line-height: 70px !important;
}

.features .subtitle {
  font-size: 20px !important;
  color: #99aab5;
}

.features .card-body {
  text-align: left !important;
}

.features .card-title {
  margin: 0 0 -3px !important;
}
.cards {
  margin-top: 30px !important;
}

.card {
  border-radius: 5px !important;
  box-shadow: none !important;
  filter: drop-shadow(0 0 0.75rem #000000);
}

.card-title {
  font-size: 28px !important;
  font-weight: 600 !important;
  color: #7289da !important;
}

.statistics {
  text-align: center !important;
  padding-top: 300px !important;
}

.statistics .card-body {
  padding: 0 !important;
  height: 280 !important;
  width: 332 !important;
  max-height: 280 !important;
  max-width: 332 !important;
}

.statistics .title {
  font-size: 40px !important;
  color: #ffffff !important;
  line-height: 70px !important;
}

.statistics .subtitle {
  font-size: 20px !important;
  color: #a2a8bd;
}

.card.statistic {
  background: transparent !important;
  box-shadow: none !important;
  color: #f7f7f7 !important;
}

.start {
  padding: 60px 50px !important;
}

.start .card {
  background: transparent !important;
  color: #f6f9ff !important;
}

.features .card {
  background: #2c2f33;
  border-radius: 22px !important;
  border: 4px solid #99aab5;
}
.features .card-text {
  color: rgba(255, 255, 255, 0.46) !important;
}

.features .card-body {
  padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}
.footer {
  text-align: center !important;
  padding: 5px 6px !important;
  color: #ecf2ff;
  padding: 30px 30px !important;
}

.footer .nouridio {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 5px !important;
  letter-spacing: 0.15em !important;
  font-variant: small-caps !important;
}

.footer .nouridio a {
  color: #7289da !important;
  text-decoration: none !important;
}

.footer .bot-footer {
  text-align: center !important;
  color: #a2a8bd !important;
}

.feature-image img {
  border-radius: 1em;
  /* border:3px solid #ffffff; */
  filter: drop-shadow(0 0 0.75rem #7289da);
  max-width: 100%;
}
body.dark .feature-image img {
  border-color: #ffffff;
}

.goback {
  position: relative;
  z-index: -5;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
